Repository arkworks-rs/algebra, pull requests merged in 2023-04, with the labels that each got.

#635 Add support for hex, octal, and binary input in `BigInt` and `MontFp` macros
  ec/src/hashing/map_to_curve_hasher.rs
  ec/src/models/bls12/g2.rs
  ec/src/models/bn/g2.rs
  ec/src/models/bw6/g2.rs
  ec/src/models/short_weierstrass/group.rs
  ff-macros/src/lib.rs
  ff-macros/src/utils.rs
  ff/src/fields/field_hashers/expander/mod.rs
  ff/src/fields/mod.rs
  ff/src/fields/models/cubic_extension.rs
  ff/src/fields/models/fp/montgomery_backend.rs
  ff/src/fields/models/quadratic_extension.rs
  ff/src/lib.rs
  test-curves/src/lib.rs
Labels: T-bug, T-feature, breaking-change

#593 feat: make AffineRepr::xy() more flexible
  CHANGELOG.md
  ec/src/hashing/curve_maps/wb/mod.rs
  ec/src/lib.rs
  ec/src/models/bls12/g2.rs
  ec/src/models/bls12/mod.rs
  ec/src/models/short_weierstrass/affine.rs
  ec/src/models/short_weierstrass/group.rs
  ec/src/models/twisted_edwards/affine.rs
Labels: T-refactor, breaking-change

#644 GLV parameters structure, v2
  ec/Cargo.toml
  ec/src/scalar_mul/glv.rs
  ec/src/scalar_mul/mod.rs
  test-curves/src/bls12_381/g1.rs
  test-curves/src/bls12_381/tests.rs
  test-curves/src/lib.rs
  test-templates/src/glv.rs
  test-templates/src/groups.rs
  test-templates/src/lib.rs
Labels: T-feature, T-test
